.login-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../assets/shared/BackgroundLogin.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
