body {
  font-family: "Montserrat", sans-serif;
}

.ant-layout-sider {
  .ant-menu-item-selected {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary) !important;
    svg {
      path {
        fill: var(--color-primary);
      }
    }
  }

  .ant-menu-item,
  .ant-menu-submenu {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body) !important;
  }

  .ant-menu-item-active,
  .ant-menu-submenu-active .ant-menu-submenu-title {
    background-color: var(--color-primary) !important;
    .ant-menu-title-content {
      color: var(--color-secondary) !important;
    }
    svg {
      path {
        fill: var(--color-secondary);
      }
    }
    .ant-menu-submenu-arrow {
      color: var(--color-secondary);
    }
  }
}
